<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Timezones server</display-name>

  <!-- Do not alter or move  the following comment -->
  <!-- add context params here -->

  <listener>
    <listener-class>org.bedework.util.servlet.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.bedework.timezones.server.TzServer</listener-class>
  </listener>
  <!-- Do not alter or move  the following comment -->
  <!-- add listeners here -->

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
      org.bedework.timezones.server.TzServer
    </servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>tzsvr</param-value>
    </init-param>
    <init-param>
      <param-name>dumpContent</param-name>
      <param-value>true</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>

  </servlet>

  <!-- Do not alter or move  the following comment -->
  <!-- add servlet definitions here -->

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- Do not alter or move  the following comment -->
  <!-- add servlet mappings here -->

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

  <!-- JDBC DataSources (java:comp/env/jdbc) -->
</web-app>
